body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav-links-custom {
  display: flex;
}

button.btn.btn-outline-dark {
  margin: 2%;
}

.restaurant-comment {
  list-style: none;
}

a.card-link {
  color: #212529;
}

#yelpLogo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.yelpLogo {
  justify-self: flex-end;
  align-self: center;
}

.seeMoreOnYelp {
  width: fit-content;
}

.restaurant-image:hover {
  transform: scale(1.1);
}

a.card-link:hover {
  color: grey;
}

#website-title:hover {
  color: grey;
}

#myPlacesIcon:hover {
  transform: scale(1.1);
}

#withGoogle {
  margin: 2%;
}
